@page "/"
@using VAL.MafiaBatel.Domain.Interfaces
@inject IGameService GameService
@rendermode InteractiveServer

<PageTitle>Painel</PageTitle>

<button class="btn btn-primary" @onclick="SaveGame">Salvar</button>
<button class="btn btn-primary" @onclick="LoadGame">Carregar</button>

@code {
    private void SaveGame()
    {
        GameService.SaveGame();
    }

    private void LoadGame()
    {
        GameService.LoadGame();
    }
}